<?xml version="2.0" encoding="utf-8"?>
<launch>

    <!-- <node pkg="utils" name="debug_sender" type="debug_sender_node" output="screen">
    </node> -->

    
     <arg name="bag1" default="/home/ztr/workspace/Implicit_SDF_planner/sdf_vis.bag" />
    <node pkg="rosbag" name="data" type="play" output="screen" args="-l -r 1 $(arg bag1)">
    </node>

    
    <node pkg="sdf_vis" name="sdf_vis" type="main.py" output="screen">
    </node>
    
   

</launch>